	html{
	  		background:url("C:/Users/MEGH/Desktop/background-images-for-websites-23.jpg") no-repeat center fixed;
			
	 	}
	body
		{ 
  			color: white; 
		}

		h1
		{
			font:  'Fredoka One';
			font-size: 50px;
			text-align: center;
		}
		#p1
		{
			color:#F5F5F5;
			word-spacing: 2px;
			font:'Dancing Script', cursive;
			font-size: 30px;
			padding: 0px 250px 50px 250px;

		}
		